body {
    min-height: 100vh;
    /* min-width: 100vh; */
    /* max-width: 1000px; */
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap: 16px; */
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.header {
    background-color: #1F2937;
    min-width: 100vh;
    margin: 0px;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background-color: #1F2937;
    /* min-width: 100vh; */
    margin: 0px;
    padding: 16px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.heroheader {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 1000;
}

.herotext {
    font-size: 18px;
    color: #e5e7eb;
}

.heroleft {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.herobutton .button{
    /*  HOW TF DO I CHANGE PADDING/SIZE ON BUTTON */
    background-color: #3882f6;
}

.heroleft, .heroright {
    flex: 1;
    padding: 16px;
}

.heroright {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
}

.header .logo {
    flex: 1;
    font-size: 24px;
    font-weight: 1000;
    color: #f9faf8;
    padding: 16px;
    padding-top: 8px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cardtitle {
    display: flex;
    color: #1F2937;
    font-size: 32px;
    font-weight: 990;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 175px;
}

.blockimg {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882f6;
}

.blocktext {
    color: #1F2937;
    font-size: 18px;
    text-align: center;
}

.box, .quote, .calltoaction {
    padding: 32px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    gap: 8px;
}

.quotetext {
    color: #1F2937;
    font-size: 32px;
    font-style: italic;
    font-weight: 100;

}

.quotesource {
    display: flex;
    color: #1F2937;
    font-size: 20px;
    font-weight: 800;
    justify-content: flex-end;
}

.middle {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main:nth-last-child() {
    align-self: flex-end;
}

/* HOW TF DO YOU GET THIS FUCKING FOOTER TO GO TO THE BOTTOM */

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    margin: 0px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}